{% extends 'base.html' %}

{% block content %}

<div class="card shadow">


<div class="card-header bg-primary text-white">

    <h3>
        Lead Details
    </h3>

</div>
<hr>

<h4>Add Follow-up Note</h4>

<form method="POST" action="/leads/{{ lead.id }}/add-note/">

    {% csrf_token %}

    <textarea
        name="note"
        class="form-control"
        rows="3"
        required
    ></textarea>

    <button
        type="submit"
        class="btn btn-primary mt-2"
    >
        Save Note
    </button>

</form>

<hr>

<h4>Lead Notes</h4>

{% for note in notes %}

<div class="card mb-2">

    <div class="card-body">

        <p>{{ note.note }}</p>

        <small class="text-muted">

            {{ note.created_by }}
            |
            {{ note.created_at }}

        </small>

    </div>

</div>

{% empty %}

<p>No Notes Found</p>

{% endfor %}

<div class="card-body">

    <table class="table table-bordered">

        <tr>
            <th>Name</th>
            <td>{{ lead.name }}</td>
        </tr>

        <tr>
            <th>Mobile</th>
            <td>{{ lead.mobile }}</td>
        </tr>

        <tr>
            <th>Email</th>
            <td>{{ lead.email }}</td>
        </tr>

        <tr>
            <th>Status</th>
            <td>{{ lead.status }}</td>
        </tr>

        <tr>
            <th>Assigned Agent</th>
            <td>{{ lead.assigned_to }}</td>
        </tr>

        <tr>
            <th>Created By</th>
            <td>{{ lead.created_by }}</td>
        </tr>

        <tr>
            <th>Created At</th>
            <td>{{ lead.created_at }}</td>
        </tr>

    </table>

    <a href="/leads/" class="btn btn-secondary">
        Back
    </a>

</div>


</div>

{% endblock %}
